In [32]:
import pandas as pd
import json

In [33]:
raw_data = pd.read_json("test_data.json")
raw_data

,3544,48117,49405,51584,60581,60587,60604,60606,60616,60619,...,47996,60689,61143,48090,58744,60584,60728,49315,47879,60822
user_id,3544,48117,49405,51584,60581,60587,60604,60606,60616,60619,...,47996,60689,61143,48090,58744,60584,60728,49315,47879,60822
cases,"[{'case_id': '2908', 'case_type': '字符串', 'case...","[{'case_id': '2081', 'case_type': '字符串', 'case...","[{'case_id': '2081', 'case_type': '字符串', 'case...","[{'case_id': '2190', 'case_type': '字符串', 'case...","[{'case_id': '2081', 'case_type': '字符串', 'case...","[{'case_id': '2081', 'case_type': '字符串', 'case...","[{'case_id': '2081', 'case_type': '字符串', 'case...","[{'case_id': '2081', 'case_type': '字符串', 'case...","[{'case_id': '2531', 'case_type': '字符串', 'case...","[{'case_id': '2081', 'case_type': '字符串', 'case...",...,"[{'case_id': '2666', 'case_type': '线性表', 'case...","[{'case_id': '2663', 'case_type': '线性表', 'case...","[{'case_id': '2777', 'case_type': '线性表', 'case...","[{'case_id': '2988', 'case_type': '字符串', 'case...","[{'case_id': '2987', 'case_type': '字符串', 'case...","[{'case_id': '2988', 'case_type': '字符串', 'case...","[{'case_id': '2987', 'case_type': '字符串', 'case...","[{'case_id': '2584', 'case_type': '数字操作', 'cas...","[{'case_id': '2536', 'case_type': '排序算法', 'cas...","[{'case_id': '2542', 'case_type': '排序算法', 'cas..."

In [4]:
result1 = pd.DataFrame(columns=("case_id","case_type","case_zip","final_score","user_id"))
result1

Empty DataFrame
Columns: [case_id, case_type, case_zip, final_score, user_id]
Index: []

In [18]:
for i in range(len(raw_data.columns)):
    case = (raw_data.iloc[1].iloc[i])
    for k in range(len(case)):
        temp = pd.DataFrame(case[k])
        temp["user_id"] = raw_data.iloc[0].iloc[i]
        result1 = pd.concat([result1,temp])
result1

,case_id,case_type,case_zip,final_score,user_id,upload_records
0,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 236494, 'upload_time': 158202329..."
1,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252563, 'upload_time': 158255783..."
2,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252565, 'upload_time': 158255783..."
3,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252576, 'upload_time': 158255813..."
4,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252577, 'upload_time': 158255813..."
...,...,...,...,...,...,...
0,2533,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 234948, 'upload_time': 158199068..."
0,2542,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 250425, 'upload_time': 158246771..."
0,2528,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 234964, 'upload_time': 158199137..."
1,2528,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 250412, 'upload_time': 158246741..."
0,2542,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,0,60822,"{'upload_id': 234574, 'upload_time': 158194976..."

In [19]:
result1.index = range(len(result1))
result1

,case_id,case_type,case_zip,final_score,user_id,upload_records
0,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 236494, 'upload_time': 158202329..."
1,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252563, 'upload_time': 158255783..."
2,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252565, 'upload_time': 158255783..."
3,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252576, 'upload_time': 158255813..."
4,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252577, 'upload_time': 158255813..."
...,...,...,...,...,...,...
87729,2533,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 234948, 'upload_time': 158199068..."
87730,2542,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 250425, 'upload_time': 158246771..."
87731,2528,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 234964, 'upload_time': 158199137..."
87732,2528,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 250412, 'upload_time': 158246741..."
87733,2542,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,0,60822,"{'upload_id': 234574, 'upload_time': 158194976..."

In [20]:
result1["index"] = result1.index
result1

,case_id,case_type,case_zip,final_score,user_id,upload_records,index
0,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 236494, 'upload_time': 158202329...",0
1,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252563, 'upload_time': 158255783...",1
2,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252565, 'upload_time': 158255783...",2
3,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252576, 'upload_time': 158255813...",3
4,2908,字符串,http://mooctest-site.oss-cn-shanghai.aliyuncs....,40,3544,"{'upload_id': 252577, 'upload_time': 158255813...",4
...,...,...,...,...,...,...,...
87729,2533,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 234948, 'upload_time': 158199068...",87729
87730,2542,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 250425, 'upload_time': 158246771...",87730
87731,2528,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 234964, 'upload_time': 158199137...",87731
87732,2528,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,100,47879,"{'upload_id': 250412, 'upload_time': 158246741...",87732
87733,2542,排序算法,http://mooctest-site.oss-cn-shanghai.aliyuncs....,0,60822,"{'upload_id': 234574, 'upload_time': 158194976...",87733

In [21]:
del result1["case_zip"]
result1

,case_id,case_type,final_score,user_id,upload_records,index
0,2908,字符串,40,3544,"{'upload_id': 236494, 'upload_time': 158202329...",0
1,2908,字符串,40,3544,"{'upload_id': 252563, 'upload_time': 158255783...",1
2,2908,字符串,40,3544,"{'upload_id': 252565, 'upload_time': 158255783...",2
3,2908,字符串,40,3544,"{'upload_id': 252576, 'upload_time': 158255813...",3
4,2908,字符串,40,3544,"{'upload_id': 252577, 'upload_time': 158255813...",4
...,...,...,...,...,...,...
87729,2533,排序算法,100,47879,"{'upload_id': 234948, 'upload_time': 158199068...",87729
87730,2542,排序算法,100,47879,"{'upload_id': 250425, 'upload_time': 158246771...",87730
87731,2528,排序算法,100,47879,"{'upload_id': 234964, 'upload_time': 158199137...",87731
87732,2528,排序算法,100,47879,"{'upload_id': 250412, 'upload_time': 158246741...",87732
87733,2542,排序算法,0,60822,"{'upload_id': 234574, 'upload_time': 158194976...",87733

In [22]:
uRecords = result1.loc[:,"upload_records"]
uRecords

0        {'upload_id': 236494, 'upload_time': 158202329...
1        {'upload_id': 252563, 'upload_time': 158255783...
2        {'upload_id': 252565, 'upload_time': 158255783...
3        {'upload_id': 252576, 'upload_time': 158255813...
4        {'upload_id': 252577, 'upload_time': 158255813...
                               ...
87729    {'upload_id': 234948, 'upload_time': 158199068...
87730    {'upload_id': 250425, 'upload_time': 158246771...
87731    {'upload_id': 234964, 'upload_time': 158199137...
87732    {'upload_id': 250412, 'upload_time': 158246741...
87733    {'upload_id': 234574, 'upload_time': 158194976...
Name: upload_records, Length: 87734, dtype: object

In [23]:
result2 =pd.DataFrame(columns=("upload_id","upload_time","code_url","score","index"))
result2

Empty DataFrame
Columns: [upload_id, upload_time, code_url, score, index]
Index: []

In [26]:
for i in range(len(uRecords)):
    uRecord = pd.DataFrame(uRecords[i],index=[0])
    uRecord["index"] = result1.loc[:,"index"].iloc[i]
    result2 = pd.concat([result2,uRecord])
result2

,upload_id,upload_time,code_url,score,index
0,236494,1582023290656,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,40.0,0
0,252563,1582557830339,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,0.0,1
0,252565,1582557836610,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,0.0,2
0,252576,1582558130645,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,0.0,3
0,252577,1582558139684,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,0.0,4
...,...,...,...,...,...
0,234948,1581990689121,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,100.0,87729
0,250425,1582467717077,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,100.0,87730
0,234964,1581991378741,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,100.0,87731
0,250412,1582467418780,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,100.0,87732
0,234574,1581949768102,http://mooctest-dev.oss-cn-shanghai.aliyuncs.c...,0.0,87733

In [27]:
del result2["upload_id"]
del result2["code_url"]
result2

      upload_time  score  index
0   1582023290656   40.0      0
0   1582557830339    0.0      1
0   1582557836610    0.0      2
0   1582558130645    0.0      3
0   1582558139684    0.0      4
..            ...    ...    ...
0   1581990689121  100.0  87729
0   1582467717077  100.0  87730
0   1581991378741  100.0  87731
0   1582467418780  100.0  87732
0   1581949768102    0.0  87733

[87734 rows x 3 columns]

In [28]:
del result1["upload_records"]
result1

      case_id case_type final_score user_id  index
0        2908       字符串          40    3544      0
1        2908       字符串          40    3544      1
2        2908       字符串          40    3544      2
3        2908       字符串          40    3544      3
4        2908       字符串          40    3544      4
...       ...       ...         ...     ...    ...
87729    2533      排序算法         100   47879  87729
87730    2542      排序算法         100   47879  87730
87731    2528      排序算法         100   47879  87731
87732    2528      排序算法         100   47879  87732
87733    2542      排序算法           0   60822  87733

[87734 rows x 5 columns]

In [29]:
result = pd.merge(result1,result2,on="index")
result

      case_id case_type final_score user_id  index    upload_time  score
0        2908       字符串          40    3544      0  1582023290656   40.0
1        2908       字符串          40    3544      1  1582557830339    0.0
2        2908       字符串          40    3544      2  1582557836610    0.0
3        2908       字符串          40    3544      3  1582558130645    0.0
4        2908       字符串          40    3544      4  1582558139684    0.0
...       ...       ...         ...     ...    ...            ...    ...
87729    2533      排序算法         100   47879  87729  1581990689121  100.0
87730    2542      排序算法         100   47879  87730  1582467717077  100.0
87731    2528      排序算法         100   47879  87731  1581991378741  100.0
87732    2528      排序算法         100   47879  87732  1582467418780  100.0
87733    2542      排序算法           0   60822  87733  1581949768102    0.0

[87734 rows x 7 columns]

In [30]:
del result["index"]
result

In [35]:
result.to_csv("data.csv")
result.to_json("data.json")