In [1]:
import pandas as pd
import json

In [2]:
raw_data = pd.read_csv("data.csv")
raw_data

,Unnamed: 0,case_id,case_type,final_score,user_id,upload_time,score
0,0,2908,字符串,40.0,3544,1582023290656,40.0
1,1,2908,字符串,40.0,3544,1582557830339,0.0
2,2,2908,字符串,40.0,3544,1582557836610,0.0
3,3,2908,字符串,40.0,3544,1582558130645,0.0
4,4,2908,字符串,40.0,3544,1582558139684,0.0
...,...,...,...,...,...,...,...
87729,87729,2533,排序算法,100.0,47879,1581990689121,100.0
87730,87730,2542,排序算法,100.0,47879,1582467717077,100.0
87731,87731,2528,排序算法,100.0,47879,1581991378741,100.0
87732,87732,2528,排序算法,100.0,47879,1582467418780,100.0
87733,87733,2542,排序算法,0.0,60822,1581949768102,0.0

In [3]:
del raw_data["Unnamed: 0"]

In [4]:
raw_data["upload_time"] = pd.to_datetime(raw_data["upload_time"],unit="ms")

In [5]:
raw_data

       case_id case_type  final_score  user_id             upload_time  score
0         2908       字符串         40.0     3544 2020-02-18 10:54:50.656   40.0
1         2908       字符串         40.0     3544 2020-02-24 15:23:50.339    0.0
2         2908       字符串         40.0     3544 2020-02-24 15:23:56.610    0.0
3         2908       字符串         40.0     3544 2020-02-24 15:28:50.645    0.0
4         2908       字符串         40.0     3544 2020-02-24 15:28:59.684    0.0
...        ...       ...          ...      ...                     ...    ...
87729     2533      排序算法        100.0    47879 2020-02-18 01:51:29.121  100.0
87730     2542      排序算法        100.0    47879 2020-02-23 14:21:57.077  100.0
87731     2528      排序算法        100.0    47879 2020-02-18 02:02:58.741  100.0
87732     2528      排序算法        100.0    47879 2020-02-23 14:16:58.780  100.0
87733     2542      排序算法          0.0    60822 2020-02-17 14:29:28.102    0.0

[87734 rows x 6 columns]

In [7]:
score_data = pd.read_csv("fin_data.csv")
score_data

,index,case_id,case_type,final_score,user_id,upload_time,score,test_point,over_point
0,0.0,2172,线性表,100.0,3544,1583213537387,100.0,100.0,100.000000
1,4.0,2908,字符串,0.0,3544,1582558144348,0.0,0.0,0.000000
2,5.0,2456,数组,100.0,3544,1582719228507,100.0,100.0,41.967188
3,6.0,2450,查找算法,20.0,3544,1582131875307,20.0,19.0,19.000000
4,21.0,2936,字符串,100.0,48117,1582603334000,100.0,70.0,77.729821
...,...,...,...,...,...,...,...,...,...
1885,42759.0,2987,字符串,100.0,60728,1581947728756,100.0,95.0,95.000000
1886,42767.0,2538,排序算法,100.0,60728,1582095606603,100.0,100.0,99.375000
1887,42768.0,2584,数字操作,100.0,49315,1583109492832,100.0,100.0,100.000000
1888,42774.0,2528,排序算法,100.0,47879,1582467418780,100.0,100.0,83.333333
1889,42775.0,2542,排序算法,0.0,60822,1581949768102,0.0,0.0,0.000000

In [8]:
del score_data["index"]

In [9]:
score_data

,case_id,case_type,final_score,user_id,upload_time,score,test_point,over_point
0,2172,线性表,100.0,3544,1583213537387,100.0,100.0,100.000000
1,2908,字符串,0.0,3544,1582558144348,0.0,0.0,0.000000
2,2456,数组,100.0,3544,1582719228507,100.0,100.0,41.967188
3,2450,查找算法,20.0,3544,1582131875307,20.0,19.0,19.000000
4,2936,字符串,100.0,48117,1582603334000,100.0,70.0,77.729821
...,...,...,...,...,...,...,...,...
1885,2987,字符串,100.0,60728,1581947728756,100.0,95.0,95.000000
1886,2538,排序算法,100.0,60728,1582095606603,100.0,100.0,99.375000
1887,2584,数字操作,100.0,49315,1583109492832,100.0,100.0,100.000000
1888,2528,排序算法,100.0,47879,1582467418780,100.0,100.0,83.333333
1889,2542,排序算法,0.0,60822,1581949768102,0.0,0.0,0.000000

In [11]:
del score_data["upload_time"]

In [12]:
del score_data["test_point"]

In [13]:
score_data

      case_id case_type  final_score  user_id  score  over_point
0        2172       线性表        100.0     3544  100.0  100.000000
1        2908       字符串          0.0     3544    0.0    0.000000
2        2456        数组        100.0     3544  100.0   41.967188
3        2450      查找算法         20.0     3544   20.0   19.000000
4        2936       字符串        100.0    48117  100.0   77.729821
...       ...       ...          ...      ...    ...         ...
1885     2987       字符串        100.0    60728  100.0   95.000000
1886     2538      排序算法        100.0    60728  100.0   99.375000
1887     2584      数字操作        100.0    49315  100.0  100.000000
1888     2528      排序算法        100.0    47879  100.0   83.333333
1889     2542      排序算法          0.0    60822    0.0    0.000000

[1890 rows x 6 columns]

In [14]:
del score_data["final_score"]
del score_data["score"]
score_data

      case_id case_type  user_id  over_point
0        2172       线性表     3544  100.000000
1        2908       字符串     3544    0.000000
2        2456        数组     3544   41.967188
3        2450      查找算法     3544   19.000000
4        2936       字符串    48117   77.729821
...       ...       ...      ...         ...
1885     2987       字符串    60728   95.000000
1886     2538      排序算法    60728   99.375000
1887     2584      数字操作    49315  100.000000
1888     2528      排序算法    47879   83.333333
1889     2542      排序算法    60822    0.000000

[1890 rows x 4 columns]

In [15]:
raw_data

       case_id case_type  final_score  user_id             upload_time  score
0         2908       字符串         40.0     3544 2020-02-18 10:54:50.656   40.0
1         2908       字符串         40.0     3544 2020-02-24 15:23:50.339    0.0
2         2908       字符串         40.0     3544 2020-02-24 15:23:56.610    0.0
3         2908       字符串         40.0     3544 2020-02-24 15:28:50.645    0.0
4         2908       字符串         40.0     3544 2020-02-24 15:28:59.684    0.0
...        ...       ...          ...      ...                     ...    ...
87729     2533      排序算法        100.0    47879 2020-02-18 01:51:29.121  100.0
87730     2542      排序算法        100.0    47879 2020-02-23 14:21:57.077  100.0
87731     2528      排序算法        100.0    47879 2020-02-18 02:02:58.741  100.0
87732     2528      排序算法        100.0    47879 2020-02-23 14:16:58.780  100.0
87733     2542      排序算法          0.0    60822 2020-02-17 14:29:28.102    0.0

[87734 rows x 6 columns]

In [16]:
del score_data["case_id"]
del raw_data["final_score"]
del raw_data["score"]

In [17]:
score_data

     case_type  user_id  over_point
0          线性表     3544  100.000000
1          字符串     3544    0.000000
2           数组     3544   41.967188
3         查找算法     3544   19.000000
4          字符串    48117   77.729821
...        ...      ...         ...
1885       字符串    60728   95.000000
1886      排序算法    60728   99.375000
1887      数字操作    49315  100.000000
1888      排序算法    47879   83.333333
1889      排序算法    60822    0.000000

[1890 rows x 3 columns]

In [18]:
raw_data

       case_id case_type  user_id             upload_time
0         2908       字符串     3544 2020-02-18 10:54:50.656
1         2908       字符串     3544 2020-02-24 15:23:50.339
2         2908       字符串     3544 2020-02-24 15:23:56.610
3         2908       字符串     3544 2020-02-24 15:28:50.645
4         2908       字符串     3544 2020-02-24 15:28:59.684
...        ...       ...      ...                     ...
87729     2533      排序算法    47879 2020-02-18 01:51:29.121
87730     2542      排序算法    47879 2020-02-23 14:21:57.077
87731     2528      排序算法    47879 2020-02-18 02:02:58.741
87732     2528      排序算法    47879 2020-02-23 14:16:58.780
87733     2542      排序算法    60822 2020-02-17 14:29:28.102

[87734 rows x 4 columns]

In [19]:
raw_data.to_csv("upload_times.json")
score_data.to_csv("final_scores.json")