In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data1 = pd.read_csv("over_point_to_case_type.csv",index_col=[0])
data1

,case_id,case_type,final_score,user_id,upload_time,score,over_point,days,hours,upload_time_stamp
0,2908,string,40.0,3544,2020-02-18 18:54:50.656,40.0,0.000000,2,18.8,1582023290656
1,2908,string,40.0,3544,2020-02-24 23:23:50.339,0.0,0.000000,8,23.2,1582557830339
2,2908,string,40.0,3544,2020-02-24 23:23:56.610,0.0,0.000000,8,23.2,1582557836610
3,2908,string,40.0,3544,2020-02-24 23:28:50.645,0.0,0.000000,8,23.4,1582558130645
4,2908,string,40.0,3544,2020-02-24 23:28:59.684,0.0,0.000000,8,23.4,1582558139684
...,...,...,...,...,...,...,...,...,...,...
87729,2533,sorting_algorithm,100.0,47879,2020-02-18 09:51:29.121,100.0,83.333333,2,9.8,1581990689121
87730,2542,sorting_algorithm,100.0,47879,2020-02-23 22:21:57.077,100.0,83.333333,7,22.2,1582467717077
87731,2528,sorting_algorithm,100.0,47879,2020-02-18 10:02:58.741,100.0,83.333333,2,10.0,1581991378741
87732,2528,sorting_algorithm,100.0,47879,2020-02-23 22:16:58.780,100.0,83.333333,7,22.2,1582467418780
87733,2542,sorting_algorithm,0.0,60822,2020-02-17 22:29:28.102,0.0,0.000000,1,22.4,1581949768102

In [3]:
data1 = data1[data1["days"]>0]
data1

,case_id,case_type,final_score,user_id,upload_time,score,over_point,days,hours,upload_time_stamp
0,2908,string,40.0,3544,2020-02-18 18:54:50.656,40.0,0.000000,2,18.8,1582023290656
1,2908,string,40.0,3544,2020-02-24 23:23:50.339,0.0,0.000000,8,23.2,1582557830339
2,2908,string,40.0,3544,2020-02-24 23:23:56.610,0.0,0.000000,8,23.2,1582557836610
3,2908,string,40.0,3544,2020-02-24 23:28:50.645,0.0,0.000000,8,23.4,1582558130645
4,2908,string,40.0,3544,2020-02-24 23:28:59.684,0.0,0.000000,8,23.4,1582558139684
...,...,...,...,...,...,...,...,...,...,...
87729,2533,sorting_algorithm,100.0,47879,2020-02-18 09:51:29.121,100.0,83.333333,2,9.8,1581990689121
87730,2542,sorting_algorithm,100.0,47879,2020-02-23 22:21:57.077,100.0,83.333333,7,22.2,1582467717077
87731,2528,sorting_algorithm,100.0,47879,2020-02-18 10:02:58.741,100.0,83.333333,2,10.0,1581991378741
87732,2528,sorting_algorithm,100.0,47879,2020-02-23 22:16:58.780,100.0,83.333333,7,22.2,1582467418780
87733,2542,sorting_algorithm,0.0,60822,2020-02-17 22:29:28.102,0.0,0.000000,1,22.4,1581949768102

In [4]:
string_data = data1[data1["case_type"] == "string"]
string_data

,case_id,case_type,final_score,user_id,upload_time,score,over_point,days,hours,upload_time_stamp
0,2908,string,40.0,3544,2020-02-18 18:54:50.656,40.0,0.000000,2,18.8,1582023290656
1,2908,string,40.0,3544,2020-02-24 23:23:50.339,0.0,0.000000,8,23.2,1582557830339
2,2908,string,40.0,3544,2020-02-24 23:23:56.610,0.0,0.000000,8,23.2,1582557836610
3,2908,string,40.0,3544,2020-02-24 23:28:50.645,0.0,0.000000,8,23.4,1582558130645
4,2908,string,40.0,3544,2020-02-24 23:28:59.684,0.0,0.000000,8,23.4,1582558139684
...,...,...,...,...,...,...,...,...,...,...
87689,2990,string,100.0,60584,2020-03-12 22:57:43.234,100.0,71.428571,25,22.8,1584025063234
87690,2989,string,100.0,60584,2020-03-12 22:57:15.262,100.0,71.428571,25,22.8,1584025035262
87710,2987,string,100.0,60728,2020-02-17 18:40:31.607,100.0,95.000000,1,18.6,1581936031607
87711,2987,string,100.0,60728,2020-02-17 21:54:04.061,0.0,95.000000,1,21.8,1581947644061
87712,2987,string,100.0,60728,2020-02-17 21:55:28.756,100.0,95.000000,1,21.8,1581947728756

In [5]:
string_data.index = range(len(string_data))

In [6]:
string_data

,case_id,case_type,final_score,user_id,upload_time,score,over_point,days,hours,upload_time_stamp
0,2908,string,40.0,3544,2020-02-18 18:54:50.656,40.0,0.000000,2,18.8,1582023290656
1,2908,string,40.0,3544,2020-02-24 23:23:50.339,0.0,0.000000,8,23.2,1582557830339
2,2908,string,40.0,3544,2020-02-24 23:23:56.610,0.0,0.000000,8,23.2,1582557836610
3,2908,string,40.0,3544,2020-02-24 23:28:50.645,0.0,0.000000,8,23.4,1582558130645
4,2908,string,40.0,3544,2020-02-24 23:28:59.684,0.0,0.000000,8,23.4,1582558139684
...,...,...,...,...,...,...,...,...,...,...
9800,2990,string,100.0,60584,2020-03-12 22:57:43.234,100.0,71.428571,25,22.8,1584025063234
9801,2989,string,100.0,60584,2020-03-12 22:57:15.262,100.0,71.428571,25,22.8,1584025035262
9802,2987,string,100.0,60728,2020-02-17 18:40:31.607,100.0,95.000000,1,18.6,1581936031607
9803,2987,string,100.0,60728,2020-02-17 21:54:04.061,0.0,95.000000,1,21.8,1581947644061
9804,2987,string,100.0,60728,2020-02-17 21:55:28.756,100.0,95.000000,1,21.8,1581947728756

In [8]:
string_data.to_csv("score_group_by_case_type/string_data.csv")

In [10]:
array_data = data1[data1["case_type"] == "array"]
array_data.index = range(len(array_data))
array_data.to_csv("score_group_by_case_type/array_data.csv")

In [12]:
digital_operation_data = data1[data1["case_type"] == "digital_operation"]
digital_operation_data.index = range(len(digital_operation_data))
digital_operation_data.to_csv("score_group_by_case_type/digital_operation_data.csv")
graph_structure_data = data1[data1["case_type"] == "graph_structure"]
graph_structure_data.index = range(len(graph_structure_data))
graph_structure_data.to_csv("score_group_by_case_type/graph_structure_data.csv")
linear_table_data = data1[data1["case_type"] == "linear_table"]
linear_table_data.index = range(len(linear_table_data))
linear_table_data.to_csv("score_group_by_case_type/linear_table_data.csv")
search_algorithm_data = data1[data1["case_type"] == "search_algorithm"]
search_algorithm_data.index = range(len(search_algorithm_data))
search_algorithm_data.to_csv("score_group_by_case_type/search_algorithm_data.csv")
sorting_algorithm_data = data1[data1["case_type"] == "sorting_algorithm"]
sorting_algorithm_data.index = range(len(sorting_algorithm_data))
sorting_algorithm_data.to_csv("score_group_by_case_type/sorting_algorithm_data.csv")
tree_structure_data = data1[data1["case_type"] == "tree_structure"]
tree_structure_data.index = range(len(tree_structure_data))
tree_structure_data.to_csv("score_group_by_case_type/tree_structure_data.csv")

In [13]:
data2 = pd.read_csv("over_point_to_user.csv",index_col=[0])
data2

,case_id,case_type,final_score,user_id,upload_time,score,over_point,days,hours,upload_time_stamp
0,2908,string,40.0,3544,2020-02-18 18:54:50.656,40.0,160.967187,2,18.8,1582023290656
1,2908,string,40.0,3544,2020-02-24 23:23:50.339,0.0,160.967187,8,23.2,1582557830339
2,2908,string,40.0,3544,2020-02-24 23:23:56.610,0.0,160.967187,8,23.2,1582557836610
3,2908,string,40.0,3544,2020-02-24 23:28:50.645,0.0,160.967187,8,23.4,1582558130645
4,2908,string,40.0,3544,2020-02-24 23:28:59.684,0.0,160.967187,8,23.4,1582558139684
...,...,...,...,...,...,...,...,...,...,...
87729,2533,sorting_algorithm,100.0,47879,2020-02-18 09:51:29.121,100.0,83.333333,2,9.8,1581990689121
87730,2542,sorting_algorithm,100.0,47879,2020-02-23 22:21:57.077,100.0,83.333333,7,22.2,1582467717077
87731,2528,sorting_algorithm,100.0,47879,2020-02-18 10:02:58.741,100.0,83.333333,2,10.0,1581991378741
87732,2528,sorting_algorithm,100.0,47879,2020-02-23 22:16:58.780,100.0,83.333333,7,22.2,1582467418780
87733,2542,sorting_algorithm,0.0,60822,2020-02-17 22:29:28.102,0.0,0.000000,1,22.4,1581949768102

In [14]:
data2 = data2[data2["days"]>0]
data2

,case_id,case_type,final_score,user_id,upload_time,score,over_point,days,hours,upload_time_stamp
0,2908,string,40.0,3544,2020-02-18 18:54:50.656,40.0,160.967187,2,18.8,1582023290656
1,2908,string,40.0,3544,2020-02-24 23:23:50.339,0.0,160.967187,8,23.2,1582557830339
2,2908,string,40.0,3544,2020-02-24 23:23:56.610,0.0,160.967187,8,23.2,1582557836610
3,2908,string,40.0,3544,2020-02-24 23:28:50.645,0.0,160.967187,8,23.4,1582558130645
4,2908,string,40.0,3544,2020-02-24 23:28:59.684,0.0,160.967187,8,23.4,1582558139684
...,...,...,...,...,...,...,...,...,...,...
87729,2533,sorting_algorithm,100.0,47879,2020-02-18 09:51:29.121,100.0,83.333333,2,9.8,1581990689121
87730,2542,sorting_algorithm,100.0,47879,2020-02-23 22:21:57.077,100.0,83.333333,7,22.2,1582467717077
87731,2528,sorting_algorithm,100.0,47879,2020-02-18 10:02:58.741,100.0,83.333333,2,10.0,1581991378741
87732,2528,sorting_algorithm,100.0,47879,2020-02-23 22:16:58.780,100.0,83.333333,7,22.2,1582467418780
87733,2542,sorting_algorithm,0.0,60822,2020-02-17 22:29:28.102,0.0,0.000000,1,22.4,1581949768102

In [15]:
string_data = data2[data2["case_type"] == "string"]
string_data.index = range(len(string_data))
string_data.to_csv("score_group_by_user/string_data.csv")
array_data = data2[data2["case_type"] == "array"]
array_data.index = range(len(array_data))
array_data.to_csv("score_group_by_user/array_data.csv")
digital_operation_data = data2[data2["case_type"] == "digital_operation"]
digital_operation_data.index = range(len(digital_operation_data))
digital_operation_data.to_csv("score_group_by_user/digital_operation_data.csv")
graph_structure_data = data2[data2["case_type"] == "graph_structure"]
graph_structure_data.index = range(len(graph_structure_data))
graph_structure_data.to_csv("score_group_by_user/graph_structure_data.csv")
linear_table_data = data2[data2["case_type"] == "linear_table"]
linear_table_data.index = range(len(linear_table_data))
linear_table_data.to_csv("score_group_by_user/linear_table_data.csv")
search_algorithm_data = data2[data2["case_type"] == "search_algorithm"]
search_algorithm_data.index = range(len(search_algorithm_data))
search_algorithm_data.to_csv("score_group_by_user/search_algorithm_data.csv")
sorting_algorithm_data = data2[data2["case_type"] == "sorting_algorithm"]
sorting_algorithm_data.index = range(len(sorting_algorithm_data))
sorting_algorithm_data.to_csv("score_group_by_user/sorting_algorithm_data.csv")
tree_structure_data = data2[data2["case_type"] == "tree_structure"]
tree_structure_data.index = range(len(tree_structure_data))
tree_structure_data.to_csv("score_group_by_user/tree_structure_data.csv")

In [16]:
data1.to_csv("over_point_to_case_type.csv")

In [17]:
data2.to_csv("over_point_to_user.csv")

In [18]:
data1.index = range(len(data1))

In [19]:
data1.to_csv("over_point_to_case_type.csv")

In [20]:
data2.index = range(len(data2))
data2.to_csv("over_point_to_user.csv")